.navbar {
    max-height: 50px;
    background: #228b22;
    color: #FFF;
    box-shadow: rgb(91, 91, 91) 3px 3px 6px ;  
    margin-bottom: 0;  
    display: flex;
    justify-content: space-between;
    max-height: 50px;

}
/* Positions page Logo/Name */
.navbar a:first-child {
    margin-left: 30px;
}

.navlinks {
    display: flex;
    margin-right: 50px;

}
.navlinks a {
    text-decoration: none;
    padding-right: 30px;
}
.navbar p {
    text-shadow: rgb(91, 91, 91) 2px 2px 6px ;
    color: #e4e4e4;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}
.navbar a{
    text-decoration: none;
}

.navbar p:hover{
    margin-bottom: 0;
    color: #f0d47f;
    border-bottom: #fff 4px solid;
}
.navlinks .active p{
    color: #c2b280;
    margin-bottom: 0;
    border-bottom: #fff 4px solid;
}
nav img {
    height: 50px;
}

