.home {
    background: linear-gradient(rgba(88, 88, 88, 0.164), rgba(88, 88, 88, 0.199)), url("../../../public/assets/img/camp-bg.jpg");
    margin: 0 auto;
    padding-top: 50px;
    height: 80vh;
    color: rgb(68, 68, 68);
}

.main-content {
    color: rgb(255, 255, 255);
    width: 75%;
    margin: 0 auto;
    text-shadow: rgb(0, 0, 0) 2px 3px 6px ;
    text-align: justify;
}

.home p {
    font-size: 24px;
}
h2 {
    font-size: 80px;
    font-weight: bold;
    margin: auto;
    padding-top: 15%;

}