<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Account Details</title>
</head>
<body>
<div class="container">
<h3>Your Account</h3>


    <form action="#" th:action="@{/guests/save}"
          th:object="${guest}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{guestID}" />

        <label>First Name:
            <input type="text" th:value="*{firstName} "
                   class="form-control mb-4 col-4" placeholder="First name" >
        </label>
        <label>
            Last Name:
            <input type="text" th:value="*{lastName}"
                   class="form-control mb-4 col-4" placeholder="Last name" >
        </label>
        <label>
            Email:
            <input type="text" th:value="*{email}"
                class="form-control mb-4 col-4" placeholder="Email">
        </label>
        <label>
            Phone:
            <input type="text" th:value="*{phone}"
            class="form-control mb-4 col-4" placeholder="Phone Number">
        </label>
        <button type="submit" class="btn btn-info col-2">Update</button>

    </form>

</div>
</body>
</html>