

.reservation-list{
    border-radius: 20px;
    height: 800px;
    width: 75%;
    margin: auto;
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
    overflow: scroll;
    text-align: center;
    
}
thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}

