
.about-section {
    height: 80vh;
    margin: auto;
    display: flex;
}
.about-section h3 {
    font-size: 48px;
}
.about-content {
    margin: auto;
    width: 90%;
    display: flex;   
    justify-content: space-evenly;
}

.about-slideshow {
    text-align: center;
    height: 580px;
    box-shadow: 3px 4px 5px rgb(128, 128, 128);
    background-color: #fff;
}

.about-slideshow img {
    border: 2px orange solid;
    width: 500px;
    margin: 10px 20px;
    height: 500px;
}
.about-info {
    
    max-height: 90%;
    background-color: #fff8ec;
    border: dashed burlywood 4px;
    max-width: 500px;
    text-align: center;
    margin: 0 20px;
    border-radius: 25px;

}
.about-info p {
    text-align: center;
    padding: 15px 35px;
}